{% extends 'base.html' %}
{% block container %}
    <header>
        {% include 'partials/_menu.html' %}
    </header>
    <section class="help">
        <div class="container">
            <h1>Zapomniałeś hasła?</h1>
            <p>Wpisz swój adres email w celu otrzymania linku z dalszymi instrukcjami.</p>
        </div>
        <form method="POST">{% csrf_token %}
            <div class="form-group">
                <p>{{ form }}</p>
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <button class="btn" type="submit">Wyślij maila z instrukcjami</button>
            </div>
        </form>
    </section>
{% endblock %}