{% extends 'base.html' %}
{% block container %}
    <header>
        {% include 'partials/_menu.html' %}
    </header>
    <section class="help">
        <div class="container">
            <h1>Wpisz swoje nowe hasło.</h1>
        </div>
        <form method="POST">{% csrf_token %}
            <div class="form-group">
                {% for fields in form %}
                    <ul>{{ fields }}</ul>
                {% endfor %}
{#                {% if messages %}#}
{#                    {% for message in messages %}#}
{#                        {% if messeges.tag == 'error' %}#}
{#                            <p>{{ message }}</p>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% endif %}#}
                <div class="form-group form-group--buttons">
                    <button class="btn" type="submit">Utwórz nowe hasło</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}